// Dark Blue (Dark Mode Elements)
$element--color--dark: hsl(209, 23%, 22%);

// Very Light Gray (Light Mode Background)
$bg--light: hsl(0, 0%, 98%);

// Very Dark Blue (Dark Mode Background)
$bg--dark : hsl(207, 26%, 17%);

// Very Dark Blue (Light Mode Text)
$text--light: hsl(200, 15%, 8%);

// Dark Gray (Light Mode Input)
$input--light: hsl(0, 0%, 52%);

// White (Dark Mode Text & Light Mode Elements)
$white: hsl(0, 0%, 100%);