@use "src/styles/color-themes" as *;
@use "src/styles/variables" as *;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    background-color: white;
}

#content {
    padding: 48px 70px;
    min-height: calc(100vh - 70px);

    @include gthemed() {
        background-color: t($bg);
    }

    @media (max-width: $bp-tablet) {
        padding: 26px 22px;
    }
}
